div {
    border:solid 1px aliceblue;
}

div#header {
    background-color:green;
}

div#titlelist {
    float:left;
    width:200px;
    background-color:lightgreen;
    height:100%;
}

div.checked {
    background-color:darkgreen;
}

div.unchecked {
    background-color:forestgreen;
}

div#tl_wrapper {
    margin-left:200px;
    background-color:lightblue;
}

div.timeline {
    float:left;
}

div.memobox {
    border:solid 1px black;
    margin:5px;
    padding:3px;
    background-color:mintcream;
}

div.memobox button.dltbtn {
    border:solid 1px gray;
    color:gray;
}


div.memobox div.datebox {
    width:150px;
    float:left;
}

div.memobox div.sentence {
    width:200px;
    padding:5px;
    background-color:white;
}
